<html th:replace="~{fragments/layout::layout}">
  <title th:fragment="title">Index</title>
  <div th:fragment="content"> 
       <!-------------CONTENT  ------>
    <div class="card w-100">
      <div class="card-title text-center mb-2">Vendedor</div>
      <div class="card-subtitle mb-2 text-body-secondary text-center">
        Index
      </div>
      <div class="card-subtitle">
        <div class="d-flex justify-content-center">
          <a href="/vendedor" class="btn btn-primary" type="button"
            >Nuevo Vendedor</a
          >
        </div>
      </div>
      <br />

      <div
        th:if="${not #strings.isEmpty(successMessage)}"
        class="row message-container"
      >
        <div class="col-12 bg-success message">
          <p class="text-center alert-custom" th:text="${successMessage}"></p>
        </div>
      </div>

      <div
        th:if="${not #strings.isEmpty(errorMessage)}"
        class="row message-container"
      >
        <div class="col-12 bg-danger message">
          <p class="text-center alert-custom" th:text="${errorMessage}"></p>
        </div>
      </div>
      <br />

      <br />
      <div class="card-body">
        <form
          class="form"
          id="vendedores_filter"
          method="GET"
          action="#"
        >          

          <br />
          <input
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
            value="Filtrar"
          />
        </form>
      </div>

      <div class="card-body table-responsive">
        <table class="table align-middle table-stripped" id="app-table">
          <thead>
            <th class="text-center">Acciones</th>
            <th class="text-center">ID</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Edad</th>
            <th class="text-center">Correo Electronico</th>
            <th class="text-center">Activo</th>
          </thead>
          <tbody>
            <tr th:each=" vendedor: ${vendedores.data}">
              <td class="text-truncate text-center">
                <a th:href="@{'/vendedor/'+${vendedor._id}}"><i class="fa fa-pencil"></i></a>
              </td>
              
              <td class="text-truncate text-center" th:text="${vendedor._id}" ></td>
              <td class="text-truncate text-center" th:text="${vendedor.nombre}" ></td>
              <td class="text-truncate text-center" th:text="${vendedor.apellido}" ></td>
              <td class="text-truncate text-center" th:text="${vendedor.edad}" ></td>
              <td class="text-truncate text-center" th:text="${vendedor.correo_electronico}" ></td>
              <td class="text-truncate text-center" th:text="${vendedor.activo ? 'Activo':'Inactivo'}"></td>
              
            </tr>
          </tbody>
        </table>
        <div class="paginator" id="paginator">
          
        </div>
      </div>
    </div>
    <!----------- END CONTENT------------ -->
    
   
  </div>  
  <div th:fragment="viewscript"> 
    <script src="/js/utils/utils.js"></script>
    <script th:inline="javascript" type="module">
      utils.setPaginator('[[${vendedores.count}]]')
      
      
      // index.myFunc(vendedores)
     
    </script>
    
  </div>
</html>
