<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-dark dark" th:fragment="" >
        <div class="container container-custom" style="max-width: 1500px">
          <h1><a href="/" class="home">Home</a></h1>
          <div class="card">
            <th:block th:insert="~{::content}"></th:block>
          </div>
        </div>
      </div>
</body>
</html>