<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{fragments/headFragment::layhead}"></head>
  <title>Index</title>
  <body class="bg-dark dark">
    <div class="bg-dark dark" th:fragment="laycard">
      <div class="container container-custom" style="max-width: 1500px">
        <h1><a href="/" class="home">Home</a></h1>
        <div class="card">
          <!-- <span>CONTENT HERE</span> -->
        </div>
      </div>
    </div>

    <span>
      <span th:insert="~{fragments/scriptsFragment::layscripts}"></span>
    </span>
  </body>
</html>
